


body{
    height:200px;
    background-color: rgb(24, 54, 100);
    background-size: cover;
    background-image:url(jungle.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}


.timer_title{
    font-family:Titillium Web;
    color: aqua;
    font-size: 30px;
}

.display_timer{
    background-color: aliceblue;
    font-family:DotGothic16;
    font-weight: bold;
    font-size:80px;
    border-radius: 12px;
    padding:80px 80px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}




.banner{
    background: rgb(235, 255, 248);
}

.banner__content{
    padding: 5px
    
}

.login_button{
    background-color: rgb(235, 255, 248);
    font-family: DotGothic16;
    font-weight: bolder;
    font-size: 60px;
    border-radius: 12px;
    padding:3px 80px;
    margin: 0;
    position: absolute;
    top: 80%;
    left: 20%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login_button:hover{
    background-color: transparent;
    color: rgb(255, 255, 255);
}

.blastoff_banner{
    background: rgb(235, 255, 248);
}


.BF_banner__content{
    padding: 5px
    
}

.blastoff_body{
    height:200px;
    background-color: rgb(24, 54, 100);
    background-size: cover;
    background-image:url(city.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

.audio_button{
    background-color: rgb(235, 255, 248);
    font-family: DotGothic16;
    font-weight: bolder;
    font-size: 30px;
    border-radius: 12px;
    padding:3px 40px;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 80%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.audio_button:hover{
    background-color: transparent;
    color: rgb(255, 255, 255);
}

.start_count{
    background-color: rgb(235, 255, 248);
    font-family: DotGothic16;
    font-weight: bolder;
    font-size: 30px;
    border-radius: 12px;
    padding:3px 40px;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 20%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.stop_count{
    background-color: rgb(235, 255, 248);
    font-family: DotGothic16;
    font-weight: bolder;
    font-size: 30px;
    border-radius: 12px;
    padding:3px 40px;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 80%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.start_count:hover{
    background-color: transparent;
    color: rgb(255, 255, 255);
}

.stop_count:hover{
    background-color: transparent;
    color: rgb(255, 255, 255);
}

.warning{
    background-color: rgb(235, 255, 248);
    font-family: DotGothic16;
    font-weight: bolder;
    font-size: 30px;
    border-radius: 12px;
    padding:3px 40px;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 30%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.table_body{
    height:200px;
    background-color: rgb(24, 54, 100);
    background-size: cover;
    background-image:url(junk.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}


.tableStyle{
    background-color: rgb(235, 255, 248);
    font-family: DotGothic16;
    font-weight: bolder;
    font-size: 30px;
    border-radius: 12px;
    padding:3px 40px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
